In [5]:
list1 = ['apple','mango','carrot','banana']

In [6]:
list2 = ['table', 'chair','pen']

In [26]:
list3 = [1,5,9,11,2,4,7,8,33,10]
list4 = [0,1,2,'sachin',1.05,5]

# Enumerate

In [12]:
obj1 = enumerate(list1)
print(obj1)
obj2 = enumerate(list2)

<enumerate object at 0x7fa238194280>

In [13]:
print(list(obj1),list(obj2))

[(0, 'apple'), (1, 'mango'), (2, 'carrot'), (3, 'banana')] [(0, 'table'), (1, 'chair'), (2, 'pen')]

In [22]:
for i in enumerate(list1):
    print(i)

(0, 'apple')
(1, 'mango')
(2, 'carrot')
(3, 'banana')

In [25]:
for count,i in enumerate(list1,10000): 
    print (count,i)

10000 apple
10001 mango
10002 carrot
10003 banana

# all()

In [35]:
x = all(list4)
print(list4,'\n',"result of all for aboove list----->",x,'\n')
y = all(list1)
print(list1,'\n',"result of all for aboove list----->",y)

[0, 1, 2, 'sachin', 1.05, 5]
 result of all for aboove list-----> False

['apple', 'mango', 'carrot', 'banana']
 result of all for aboove list-----> True

# len()

In [39]:
print("lenth of list1---->",len(list1),'\n',"lenth of list2---->",len(list2),'\n',"lenth of list3---->",len(list3),'\n',"lenth of list4---->",len(list4))

lenth of list1----> 4
 lenth of list2----> 3
 lenth of list3----> 10
 lenth of list4----> 6

# max(), min(), sorted(), reverse(), sum()

In [42]:
print(list3)
print("the max of above list is:  ",max(list3),'\n')

print(list3)
print("the min of above list is:  ",min(list3),'\n')

print(list3)
print("the sum of above list is:  ",sum(list3),'\n')

print(list3)
print("the sorted form of above list is:  ", sorted(list3),'\n')

print(list3)
print("the reverse of above list is:  ",sorted(list3,reverse=True),'\n')

[1, 5, 9, 11, 2, 4, 7, 8, 33, 10]
the max of above list is:   33

[1, 5, 9, 11, 2, 4, 7, 8, 33, 10]
the min of above list is:   1

[1, 5, 9, 11, 2, 4, 7, 8, 33, 10]
the sum of above list is:   90

[1, 5, 9, 11, 2, 4, 7, 8, 33, 10]
the sorted form of above list is:   [1, 2, 4, 5, 7, 8, 9, 10, 11, 33]

[1, 5, 9, 11, 2, 4, 7, 8, 33, 10]
the reverse of above list is:   [33, 11, 10, 9, 8, 7, 5, 4, 2, 1]

# Methods for list

In [64]:
a = []
a.append(list2)          #append
print(a,'\n')

a.extend(list1)          #extend  
print(a,'\n')

print(a.count('table'))  #count

vowels = ['e', 'a', 'u', 'o', 'i']   #sort
vowels.sort()
print('Sorted list:', vowels)

new_list = vowels.copy()
print("new_list--->", new_list)

[['table', 'chair', 'pen']]

[['table', 'chair', 'pen'], 'apple', 'banana', 'carrot', 'mango', ['table', 'chair', 'pen'], ['table', 'chair', 'pen']]

0
Sorted list: ['a', 'e', 'i', 'o', 'u']
new_list---> ['a', 'e', 'i', 'o', 'u']

# set methods

###### add

In [65]:
my_set = {1, 3}


my_set.add(2)
print(my_set)

{1, 2, 3}

##### update

In [66]:
my_set.update([2, 3, 4])
print(my_set)

{1, 2, 3, 4}

In [67]:
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

#### discard

In [68]:
my_set.discard(4)
print(my_set)

{1, 2, 3, 5, 6, 8}

##### remove

In [69]:
my_set.remove(6)
print(my_set)

{1, 2, 3, 5, 8}

In [70]:
my_set = set("HelloWorld")
print(my_set)

{'e', 'r', 'o', 'W', 'l', 'H', 'd'}

#### difference

In [71]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A - B)

{1, 2, 3}

#### pop

In [72]:
my_set = set("HelloWorld")
print(my_set)

print(my_set.pop())

my_set.pop()
print(my_set)

{'e', 'r', 'o', 'W', 'l', 'H', 'd'}
e
{'o', 'W', 'l', 'H', 'd'}

#### union

In [73]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

#### inetrsection

In [74]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A & B)

{4, 5}